{% schema %}
{
  "name": "Landing Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "latitude",
      "label": "Latitude",
      "default": "33.792"
    },
    {
      "type": "text",
      "id": "longitude",
      "label": "Longitude",
      "default": "-84.336"
    },
    {
      "type": "range",
      "id": "zoom",
      "label": "Zoom Level",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 11
    },
    {
      "type": "text",
      "id": "map_id",
      "label": "Google Map ID",
      "default": "DEMO_MAP_ID"
    },
    {
      "type": "text",
      "id": "api_key",
      "label": "Google Maps API Key",
      "default": "YOUR_API_KEY"
    },
    {
      "type": "text",
      "id": "map_height",
      "label": "Map Height (px or %)",
      "default": "400px"
    }
  ],
  "presets": [
    {
      "name": "Landing",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="landing-section">
    <div class="landing-section-video-container">
        <img class="video-logo" src="{{ 'Cheat-Code-2.svg' | asset_url }}">
        <div class="landing-section-video-overlay">
        </div>
        <video autoplay muted loop playsinline id="bg-video">
            <source src="{{ 'vid.mp4' | asset_url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {% render 'map',
            latitude: section.settings.latitude,
            longitude: section.settings.longitude,
            zoom: section.settings.zoom,
            map_id: section.settings.map_id,
            map_height: section.settings.map_height,
            api_key: section.settings.api_key,
            class-name: 'landing-section-item'
    %}
    {% render 'pause-nav' %}


    <script type="module" src="{{ 'p-nav.js' | asset_url }}" defer></script>

    <style>
        .landing-section-video-container {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .video-logo {
            position: absolute;
            z-index: 100;
            align-self: center;
            margin: auto;
         }

        .landing-section-video-overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #000;
            opacity: 50%;
        }
        .landing-section-item {
            visibility: hidden;
        }
        .p-nav-selected::after {
            border-color: #007bff;
            content: " ";
        }
    </style>
    <style>
        .landing-section {
            text-align: center;
            padding: 20px 0;
            grid-column-start: 1;
            grid-column-end: 4;
        }
    </style>
</section>
