{% schema %}
{
  "name": "Landing Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "latitude",
      "label": "Latitude",
      "default": "33.792"
    },
    {
      "type": "text",
      "id": "longitude",
      "label": "Longitude",
      "default": "-84.336"
    },
    {
      "type": "range",
      "id": "zoom",
      "label": "Zoom Level",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 11
    },
    {
      "type": "text",
      "id": "map_id",
      "label": "Google Map ID",
      "default": "DEMO_MAP_ID"
    },
    {
      "type": "text",
      "id": "api_key",
      "label": "Google Maps API Key",
      "default": "YOUR_API_KEY"
    },
    {
      "type": "text",
      "id": "map_height",
      "label": "Map Height (px or %)",
      "default": "400px"
    }
  ],
  "presets": [
    {
      "name": "Landing",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="landing-section">
    <div class="landing-section-video-container">
        <div id="v-overlay" class="landing-section-video-overlay">
        </div>
        <video autoplay muted loop playsinline id="bg-video">
            <source src="https://ceesvrr.b-cdn.net/vid-16-9.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="landing-section-content">
        {% render 'pause-menu',
                nav-options: 'home,map,shop',
                id: 'p-m',
                video-id: 'bg-video',
                video-overlay-id: 'v-overlay'
        %}
        <img class="video-logo" src="{{ 'Cheat-Code-2.svg' | asset_url }}">
    </div>

    <div class="hidden">
        {% render 'map',
                id: "map",
                latitude: section.settings.latitude,
                longitude: section.settings.longitude,
                zoom: section.settings.zoom,
                map_id: section.settings.map_id,
                map_height: section.settings.map_height,
                api_key: section.settings.api_key,
                class-name: 'landing-section-item'
        %}
    </div>

    <script type="module">
        window.addEventListener('load', (e) => {
            if (document.querySelector(".landing-section")) {
                [...document.getElementsByClassName('conditional-show')].forEach((element) => {
                    element.style.display = 'none';
                });
            }
        });

    </script>


    <style>
        .landing-section-video-container {
            position: fixed;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        video {
            transform: scale(1.5);
            z-index: -1;
        }

        .video-logo {
            width: 6rem;
            z-index: 1;
        }

        .landing-section-video-overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: all 150ms ease;
            transform: scale(1.5);
        }
        .hidden {
            display: none;
        }
        .landing-section {
            text-align: center;
            position: absolute;
            height: 100vh;
            grid-column-start: 1;
            top: 0;
            grid-row-start: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .landing-section-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding: 0 0 20rem 0;
        }

        .shopify-section {
            display: flex;
        }

        @media screen and (min-width: 800px) {
            video {
                transform: scale(1);
            }
            .video-logo {
                width: 4rem;
            }
            .landing-section-content {
                padding: 0 0 8rem 0;
            }
        }
    </style>
</section>
